Task1/.vs/
Task1/Task1.sln
Task1/Task1/Task1.pyproj
Task10/.vs/
Task10/Task10.sln
Task10/Task10/Task10.pyproj
Task11/.vs/
Task11/Task11.sln
Task11/Task11/Task11.pyproj
Task2/.vs/
Task2/Task2.sln
Task2/Task2/Task2.pyproj
Task3/.vs/
Task3/Task 3.sln
Task3/Task 3/Task 3.pyproj
Task4/.vs/
Task4/Task 4.sln
Task4/Task 4/Task 4.pyproj
Task5/.vs/
Task5/Task5.sln
Task5/Task5/Task5.pyproj
Task6/.vs/
Task6/Task6.sln
Task6/Task6/Task6.pyproj
Task7/.vs/
Task7/Task7.sln
Task7/Task7/Task7.pyproj
Task8/.vs/
Task8/Task8.sln
Task8/Task8/Task8.pyproj
Task9/.vs/
Task9/Output-Build.txt
Task9/Task 9.sln
Task9/Task 9/Task 9.pyproj
